body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#site-content {
    text-align: center;
    z-index: 1000;
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}
